{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2>GDPR og personvern</h2>
    <p>Vi tar personvern på alvor. Her kan du lese om hvordan vi håndterer dine data, og administrere dine samtykker.</p>
    <h4>Dine rettigheter</h4>
    <ul>
        <li>Innsyn i lagrede data</li>
        <li>Rett til å bli slettet</li>
        <li>Rett til å trekke tilbake samtykke</li>
    </ul>
    <a href="mailto:support@aksjeradar.no?subject=GDPR%20forespørsel" class="btn btn-outline-primary">Be om innsyn eller sletting</a>
</div>
{% endblock %}
